@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
   color: #333;
   font-family: 'Montserrat';
   text-align: center;
   font-weight: 400;
   font-size: 1em;
}

h1 {
   font-weight: 700;
}

h2 {
   font-weight: 400;
}

form {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

button {
   padding: 1em 1.5em;
   margin-left: 10px;
   font-size: 1em;
   background: #333;
   color: #fff;
   border: 0;
   border-radius: 5px;
   cursor: pointer;
   transition: all 1s;
}

button:hover {
   background: #000;
   transition: scale(1.1);
}

input {
   background: #ececec;
   margin-left: 10px;
   padding: 1em;
   font-size: 1em;
   border: 0px;
   border-radius: 5px;
   width: 50px;
}

header {
   padding: 10px;
}

main h2 {
   padding-bottom: 20px;
}

#container {
   max-width: 960px;
   margin: 0 auto;
   padding: 10px;
}

section.grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   padding-top: 50px;
}

article.card {
   background: #ececec;
   box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.418);
   border-radius: 5px;
   padding: 20px;
}

footer {
   padding-top: 100px;
}